server:
  port: 4567

service-registry:
  username: user
  password: password

eureka:
  client:
    enabled: false
#    serviceUrl:
#      defaultZone: http://${service-registry.username}:${service-registry.password}@localhost:8761/eureka/

components-registry:
  vcs:
    tag-version-prefix: refs/tags/components-registry-
  groovy-path: ${components-registry.work-dir}/src/main/resources
  main-groovy-file: Aggregator.groovy
  dependency-mapping-file: dependency_mapping.properties
  version-name:
    service-branch: serviceCBranch
    service: serviceC
    minor: minorC
  #  copyright-path: # envFile property

supportedGroupIds: org.octopusden.octopus,io.bcomponent
supportedSystems: NONE,CLASSIC,ALFA

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        #        curl -i -X POST -H 'Content-Type: application/json' -d '{"configuredLevel": "INFO"}' http://localhost:4567/actuator/loggers/ROOT
        include: health, env, metrics, threaddump, heapdump, info, configprops, prometheus, loggers
    loggers:
      enabled: true
